@{
    Layout = "~/Views/Shared/_UserDetails.cshtml";
}
<html>
<head>
    <title>Change Password</title>    
</head>
<body>
    <div class="col-md-10">
        <div class="card">

            <div id="LoadPageChngpwd" class="row text-center waitIconDivRprt" style="display:none">
                <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProgQuery"></i>
            </div>
            <div class="header">
                <h4 class="title" id="profileTitle">Change Password</h4>
            </div>
            <br>
            <div class="content chngPwdFormDiv">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        @Html.Label("Current Password", new { @class = "control-label hrms-required-field"})
                    </div>
                    <div class="col-lg-6 col-md-6">
                        @Html.Password(" ", "", new { @class = "form-control input-field", @id = "currntPwd" })
                        @Html.Label("Enter current password !!", new { id = "ErrPwdCurr", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        @Html.Label("New Password", new { @class = "control-label hrms-required-field" })
                    </div>
                    <div class="col-lg-6 col-md-6">
                        @Html.Password(" ", "", new { @class = "form-control input-field", @id = "nwPwd" })
                        @Html.Label("Enter new password !!", new { id = "ErrnwPwd", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        @Html.Label("Confirm New Password", new { @class = "control-label hrms-required-field" })
                    </div>
                    <div class="col-lg-6 col-md-6">
                        @Html.Password(" ", "", new { @class = "form-control input-field", @id = "nwPwdCnfrm" })
                        @Html.Label("Enter Confirm password !!", new { id = "ErrnwPwdCnfm", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br>
                <div class="row text-right">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <input type="button" class="btn btn-info btn-fill" value="Save" title="Save" onclick="chngPwdSubmit()" />
                        <input type="button" class="btn btn-default btn-fill" value="Cancel" title="Cancel" onclick="clearFileds(); clearErrors()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/app/user/changepassword.js"></script>