@model HrmsMvc.Models.EmployeeModel
@{
    ViewBag.Title = "Leaves";
    SelectList leaveTypeList = @ViewBag.LeaveTypes;
    SelectList leaveDurList = @ViewBag.LeaveDurTypes;
    Layout = "~/Views/Shared/_UserDetails.cshtml";
}
<html>
<head>
    <title>Leaves</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script>
        var LeaveDurList = @Html.Raw(Json.Encode(ViewBag.LeaveDurTypes));
        var LeaveTypList = @Html.Raw(Json.Encode(ViewBag.LeaveTypes));
    </script>
</head>
<body>
    <div class="col-md-10">
        <div class="card">
            <div class="header">
                <h3 class="title">Apply Leave</h3>
            </div>
            <div id="LoadPage" class="waitIconDiv col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProg"></i>
            </div>
            <div class="content lvApplyContent">
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("Leave Type", new { @class = "control-label labelClass hrms-required-field" })
                    </div>
                    <div class="col-md-8 col-lg-5">
                        @Html.DropDownList("LeaveTypeDropDown", leaveTypeList, "Select Leave Type", new { @class = "form-control input-field" })
                        @Html.Label("Please Select Leave Type !!", new { id = "ErrLvType", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("Leave Balance", new { @class = "control-label labelClass" })
                    </div>
                    <div class="col-md-8 col-lg-8">
                        @Html.Label("", "0.0", new { @class = "control-label labelClass", @id = "leaveBalLabel" })
                        <i class='fa fa-refresh fa-spin fa-2x fa-fw' style="height:30px;width:30px;display:none" id="LvStatiImgProg"></i>
                        <i class="fa fa-info-circle fa-lg cursor lvDtlsIcon" aria-hidden="true" data-toggle="modal" data-target="#LeaveStatiDiv"
                           title="View Leave Details"
                           onclick="GetLeaveStatistics(true,null)"></i>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("From Date  ", new { @class = "control-label labelClass hrms-required-field" })
                    </div>
                    <div class="col-md-8 col-lg-5">
                        <input type="text" class="form-control inputbox from-date-picker input-field" placeholder="Select From Date" id="Fromdatetimepicker" required>
                        @Html.Label("Please Select From Date !!", new { id = "Errsdate", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("To Date    ", new { @class = "control-label  labelClass hrms-required-field" })
                    </div>
                    <div class="col-md-8 col-lg-5">
                        <input type="text" class="form-control inputbox to-date-picker1 input-field" placeholder="Select To Date" id="Todatetimepicker" required>
                        @Html.Label("Please Select Todate !!", new { id = "Errenddate", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("Duration", new { @class = "control-label labelClass hrms-required-field" })
                    </div>
                    <div class="col-md-8 col-lg-5">
                        @Html.DropDownList("LeaveDurationDropDown", leaveDurList, "Select Leave Duration", new { @class = "form-control input-field" })
                        @Html.Label("Please Select Leave Duration !!", new { id = "ErrLvDur", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br />
                <div class="row hidden" id="lvSessionTypDiv">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("Session", new { @class = "control-label labelClass hrms-required-field" })
                    </div>
                    <div class="col-md-8 col-lg-5">                        
                        <select class="form-control input-field" id="LeaveSessionDropDown">
                            <option value="0">Select a session</option>
                            <option value="1">Morning session (09.00 AM to 1.00 PM)</option>
                            <option value="2">Afternoon session (01.00 PM to 06.00 PM)</option>
                        </select>
                        @Html.Label("Please Select a session !!", new { id = "ErrLvSession", @class = "text-danger errLabel" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        @Html.Label("Notes  ", new { @class = "control-label labelClass" })
                    </div>
                    <div class="col-md-8 col-lg-5">
                        <textarea class="form-control txt-area" id="notes" placeholder="" maxlength="3992"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12 cursor">
                        <input type="button" class="btn btn-info btn-fill pull-right" value="Apply" id="applyBtn" onclick="ApplyLeave()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade col-xs-12 col-md-12 col-lg-12 col-sm-12" id="LeaveStatiDiv" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="height:auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Leave Details</h3>
                </div>
                <div class="modal-body" style="min-height:150px">
                    <div class="row" id="statiDiv">
                        <div id="LoadPage1" class="text-center col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                            <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProg1"></i>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            @Html.Label("", " ", new { @class = "control-label", @id = "leaveStatLabel" })
                        </div>
                        <table id="LvStatiTable" class="gridTableAtt cell-border hover display responsive" cellspacing="0" style="width:90%">
                            <thead class="tableHeader">
                                <tr>
                                    <th>Leave Type</th>
                                    <th>Entitled</th>
                                    <th>Taken</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/app/user/leave.js"></script>