@{
    ViewBag.Title = "LeaveReports";
    SelectList monthLst = @ViewBag.MonthList;
    SelectList leaveDurList = @ViewBag.LeaveDurTypes;
    SelectList leaveTypeList = @ViewBag.LeaveTypes;
    Layout = "~/Views/Shared/_UserDetails.cshtml";    
}
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script>
        var LeaveDurList = @Html.Raw(Json.Encode(ViewBag.LeaveDurTypes));
        var LeaveTypList = @Html.Raw(Json.Encode(ViewBag.LeaveTypes));
    </script>
</head>
<body> 
    @RenderPage("~/Views/Modals/EditLeaveModal.cshtml",new { leaveDurList = leaveDurList, leaveTypeList = leaveTypeList })
    <div class="modal fade" id="SentLeaveQueryModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Sent Query</h3>
                </div>
                <div id="LoadPageLvQuery" class="row text-center waitIconDivRprt" style="display:none">
                    <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProgQuery"></i>
                </div>
                <div class="modal-body" id="contactAdminDiv">
                    @Html.Partial("../Email/SentQuery")
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title" id="profileTitle">Leave Reports</h4>
        </div>
        <div class="content">            
            <div class="row text-center">
                <div class="col-lg-6">
                    <h5 id="monthLabel"></h5>
                </div>
                <div class="col-lg-6">
                    <h5 id="dateLabel"></h5>
                </div>
            </div>
            <br />
            <div class="row container-fluid">
                <div class="col-lg-4 col-xs-12 col-md-4 col-sm-12">
                    <div id="custom-search-input" class="input-field">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Select Date" id="chngDatePicker" autocomplete="off" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" id="goBtn" onclick="ChngClick()">
                                    <i class="fa fa-search fa-lg"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    @Html.Label("Select a date !!", new { id = "lblChnDate", @class = "text-danger errLabel" })
                </div>
            </div>
            <br />
            <div class="row text-center waitIconDiv" id="LoadIconDiv">
                <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProgLvRprt"></i>
            </div>
            <div class="row text-center">
                @Html.Label("No Records Found!!", new { id = "lblLvNoResults", @class = "text-danger" })
            </div>
            <div class="row TableDivLvRprt text-center" style="display:none">
                <table id="LvReprtTable" class="display nowrap responsive" cellspacing="0" style="width:95%;">
                    <thead class="tableHeader">
                        <tr>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Leave Type</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/app/user/leavereports.js"></script>
<script src="~/Scripts/app/user/manageleave.js"></script>