@{
    ViewBag.Title = "HRMS";
}
@model HrmsMvc.Models.UserModel 
<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword</title>    
</head>
<body>
    <div id="wrapper">
        <section>
            @using (Html.BeginForm("forgotpassword", "login", FormMethod.Post, new { id = "paswdFrgtForm" }))
            {
                @Html.AntiForgeryToken()
                <form autocomplete="off" method="post">
                    <div class="waitIconDiv col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                        <i class="fa fa-refresh fa-spin fa-2x fa-fw" id="imgProg"></i>
                    </div>
                    <div class="login-card">
                        <div id="frgtMailSentDiv">
                            <div class="row">
                                <h3 class="modal-title text-center">Forgot Password</h3>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserEmail)
                                        @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @style = "float:left;", @id = "ErrorMsg",@class= "field-validation-error" })                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Know your password ? <a href="~/login" class="hrefLink">Login</a>
                                </div>
                            </div>
                            <br />
                            <div class="row text-center pull-right">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="login login-submit btn btn-primary btn-fill" value="Submit" id="pwdResetSubmitBtn" name="actionName" onclick="showLoad();"/>
                                </div>
                            </div>
                        </div>                                       
                    </div>
                </form>
            }
        </section>
    </div>
</body>
</html>
<script>
    function showLoad() {
        $(".waitIconDiv").show();
        $(".login-card").addClass("disablediv");
        $(".waitIconDiv").css("display", "block");
    }
    function HideLoad() {
        $(".waitIconDiv").hide();
        $(".login-card").removeClass("disablediv");
        $(".waitIconDiv").css("display", "none");
    }
    $(document).ready(function () {      
        var rtrnMsg = @Html.Raw(Json.Encode(TempData["returnString"]));        
        if(!stringIsNull(rtrnMsg))
        {
            HideLoad();            
            if(rtrnMsg == "OK"){                
                $('#UserEmail').val('');
            }
        }      
        $('#UserEmail').on('blur', function () {
            if (this.value.toString().length <= 0) {
                $('#UserEmail').addClass('input-validation-error');                
                $('#ErrorMsg').text("Please enter your email to receive password reset link");
                $('#ErrorMsg').show();
            }
            else {
                $('#UserEmail').removeClass('input-validation-error');
                $('#ErrorMsg').hide();
            }
        });
        function resetValidation() {
            $('#UserEmail').removeClass('input-validation-error');            
            $('#ErrorMsg').hide();
        }       
    });
</script>