@{
    ViewBag.Title = "HRMS";
}
@model HrmsMvc.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <title>ResetPassword</title>
</head>
<body>
    <div id="wrapper">
        <section>
            @using (Html.BeginForm("resetpassword", "login", FormMethod.Post, new { id = "paswdResetForm" }))
            {
                @Html.AntiForgeryToken()
                <form autocomplete="off" method="post">
                    <div class="waitIconDiv col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center">
                        <i class='fa fa-refresh fa-spin fa-2x fa-fw' id="imgProg"></i>
                    </div>
                    <div class="login-card">
                        <div id="pwdResetDiv">
                            <div class="row">
                                <h3 class="modal-title text-center">Reset Password</h3>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("New password", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @style = "float:left;", @id = "ErrorMsgPwd", @class = "field-validation-error" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Label("Retype new password", new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CnfrmPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                        @Html.ValidationMessageFor(model => model.CnfrmPassword, "", new { @style = "float:left;", @id = "ErrorMsgCnfPwd", @class = "field-validation-error" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row text-center pull-right">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="submit" class="login login-submit btn btn-primary btn-fill" value="Submit" onclick="showLoad();"
                                           id="pwdResetSubmitBtn" name="actionName" />
                                </div>
                            </div>
                        </div>                       
                    </div>
                </form>
            }
        </section>
    </div>
</body>
</html>
<script>
    function showLoad() {
        $(".waitIconDiv").show();
        $(".login-card").addClass("disablediv");
        $(".waitIconDiv").css("display", "block");
    }
    function HideLoad() {
        $(".waitIconDiv").hide();
        $(".login-card").removeClass("disablediv");
        $(".waitIconDiv").css("display", "none");
    }  
    $(document).ready(function () {
       var rtrnMsg = @Html.Raw(Json.Encode(TempData["returnString"]));        
        if(!stringIsNull(rtrnMsg))
        {
            HideLoad();
            if(rtrnMsg == "OK"){
                $('#Password').val('');
                $('#CnfrmPassword').val('');
            }
        }
        function resetValidation() {
            $('#Password').removeClass('input-validation-error');
            $('#CnfrmPassword').removeClass('input-validation-error');
            $('#ErrorMsgPwd').hide();
            $('#ErrorMsgCnfPwd').hide();
        }             
        $('#Password').on('blur', function () {
            if (this.value.toString().length <= 0) {
                $('#Password').addClass('input-validation-error');
                $('#ErrorMsgPwd').text("Please enter password");
                $('#ErrorMsgPwd').show();
            }
            else {
                $('#ErrorMsgPwd').hide();
                $('#Password').removeClass('input-validation-error');
            }
        });
        $('#CnfrmPassword').on('change keyup paste blur', function () {
            if (this.value.toString().length <= 0) {
                $('#CnfrmPassword').addClass('input-validation-error');
                $('#ErrorMsgCnfPwd').text("Please enter password again to confirm");
                $('#ErrorMsgCnfPwd').show();
            }
            else {
                if (($('#Password').val().length > 0 && $('#CnfrmPassword').val().length > 0) && ($('#Password').val() != $('#CnfrmPassword').val())) {
                    $('#CnfrmPassword').addClass('input-validation-error');
                    $('#ErrorMsgCnfPwd').text("Confirm password doesn't match");
                    $('#ErrorMsgCnfPwd').show();
                }
                else {
                    $('#CnfrmPassword').removeClass('input-validation-error');
                    $('#ErrorMsgCnfPwd').text("Please enter password again to confirm");
                    $('#ErrorMsgCnfPwd').hide();
                }
            }
        });        
    });
</script>
